#root {
}

.table-container {
  padding: 4rem;
  background-color: white;
  border-radius: 7px;
}

.header {
  height: 7rem;
  padding: 1rem 4rem 1rem 1rem;
  background-color: rgb(235 255 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* background-color: #5386e4; */

.item {
  margin-left: 4rem;
  font-size: 24px;
  color: #5386e4;
}

.page {
  height: 100vh - 4rem;
  margin: 4rem;
}

.logo-text img {
  height: 5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.front-page-image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container div {
  max-width: 50%;
}

.text-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.text-container p {
  margin-bottom: 3rem;
}

.table-button {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 10px;
}

.gifs-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4rem;
}

button {
  background-color: black;
  color: white;
}
